.error-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;    
    align-items: center;
    flex-direction: column;    
}

.error-modal__container {
    width: 80%;
    height: 80%;
    background-color: lightcoral;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.error-modal__elm {
    display: flex;
    font-size: 30px;        
}

.error-modal__elm button {
    font-size: 30px;
    cursor: pointer;
}